body {}

#board {
	background-color: #015;
/*	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);


*/
	background-image:
		radial-gradient(white, rgba(255,255,200,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(255,255,200,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(255,255,200,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,255,200,.4), rgba(255,255,200,.1) 2px, transparent 30px);

	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

	/*-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;*/
}

